.tiptap.ProseMirror {
  hr {
    border: none;
    height: 2px;
    margin-top: 2.25em;
    margin-bottom: 2.25em;
    border-radius: 100px;
    transition: all .2s ease;
    cursor: pointer;
    &:hover{
     padding: .20rem 0;
    }
   &.ProseMirror-selectednode { 
    padding: .20rem 0;
  }
  }
}

.theme-light {
  hr {
    background-color: oklch(87.2% 0.01 258.338);
    &.ProseMirror-selectednode { 
    background-color: oklch(70.7% 0.022 261.325);
  }
  }
  }

.theme-dark {
  hr {
    background-color: oklch(37.3% 0.034 259.733);
    &.ProseMirror-selectednode { 
    background-color: oklch(44.6% 0.03 256.802);
  }
  }
}
